main section.images-section {
    margin: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    figure {
        margin: 1rem;
        div {
            border: 0.625rem outset gold;
            overflow: hidden;
            width: 32rem;
            height: 20rem;
            img {
                width: 32rem;
                height: 20rem;
                object-fit: cover;
                box-sizing: border-box;
                &:hover {
                    animation-name: galerieHover;
                    animation-duration: 2s;
                    animation-timing-function: linear;
                    animation-fill-mode: forwards;
                }
            }
        }
        figcaption {
            margin-top: 0.3rem;
            font-size: 1.2rem;
            font-style: italic;
            text-align: center;
        }
    }
}
@keyframes galerieHover {
    100%{transform: scale(1.5);}
}