/* Contact boxes code is found in _contact-boxes.scss file */

/* Form code is found in _forms.scss file */

.map {
  &__title {
    margin-bottom: 2rem;
  }
  &__iframe {
    width: 100% !important;
    height: 80vh !important;
    transform: translateY(2px);
    filter: grayscale(90%) invert(92%) contrast(90%);
  }
}
