/* Kde sidlime section code is found in _kontakt.scss file */
/* Form section code is found in _forms.scss file */

@media only screen and (max-width: 500px) {
    h2 {
        font-size: 2.5rem;
    }
}
@media only screen and (max-width: 400px) {
    h2 {
        font-size: 2rem;
    }
}