main section.form-section {
    margin: 3rem;
    p {
        text-align: center;
        margin-bottom: 0.5rem;
        color: rgba(255, 89, 0, 0.8);
        font-style: italic;
        font-size: 1.3rem;
    }
    h2 {
        background-color: transparent;
        border-top: 0.125rem solid black;
        border-bottom: 0.125rem solid black;
        width: fit-content;
        margin: 0 auto;
        padding: 0.8rem;
    }
    form {
        margin: 1rem 10vw;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        div {
            margin: 2rem 3rem;
            label {
                display: block;
                padding-bottom: 0.5rem;
            }
            input, select {
                width: 18.75rem;
                padding: 1rem;
                border-radius: 1rem;
                border: 0.125rem solid rgba(55, 52, 52, 0.5);
                font-size: 1.3rem;
            }
            .form-button {
                width: 12.5rem;
                box-sizing: border-box;
                font-weight: bold;
                transition: background-color 100ms linear, color 100ms linear;
                &:hover {
                    border: 0.125rem solid black;
                    cursor: pointer;
                    background-color: darkgreen;
                    color: white;
                }
            }
            .reset-button:hover {
                background-color: darkred;
            }
        }
    }
}
@media only screen and (max-width: 1630px) {
    main section.form-section form {
        margin: 1rem 7vw;
    }
}
@media only screen and (max-width: 1540px) {
    main section.form-section form {
        margin: 1rem 12vw;
    }
}
@media only screen and (max-width: 1290px) {
    main section.form-section form {
        margin: 1rem 10vw;
    }
}
@media only screen and (max-width: 1225px) {
    main section.form-section form {
        margin: 1rem 7vw;
    }
}
@media only screen and (max-width: 1140px) {
    main section.form-section {
        margin: 3rem 0;
        form {
            margin: 1rem;
        }
    }
}
@media only screen and (max-width: 932px) {
    main section.form-section form {
        margin: 1rem 7vw;
    }
}
@media only screen and (max-width: 711px) {
    main section.form-section form {
        margin: 1rem 2rem;
        div {
            input, select {
                width: 70vw;
            }
        } 
    }
}
