/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: black;
  text-decoration: none;
}

html {
  font-size: 16px;
}

@media only screen and (max-width: 1540px) {
  html {
    font-size: 12px;
  }
}
body {
  background-color: bisque;
  font-family: "Inter", sans-serif;
  max-width: 1920px;
  margin: 0 auto;
  color: black;
}

h2 {
  text-align: center;
  font-size: 3rem;
  padding: 1rem;
  background-color: rgb(255, 158, 1);
}

p {
  font-size: 1.5rem;
}

header {
  background: linear-gradient(rgb(255, 158, 1), rgb(255, 89, 0));
  position: fixed;
  z-index: 100;
  width: 100%;
  box-shadow: 0 0.0625rem 0.3125rem black;
  max-width: 1920px;
}
header nav a.navbar-brand {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
}
header nav a.navbar-brand img {
  margin: 0 0.625rem;
  width: 3.75rem;
  height: 3.75rem;
}
header nav ul {
  margin-left: auto;
  margin-right: 0.625rem;
}
header nav ul li {
  font-size: 1.5rem;
  background-color: rgb(255, 204, 73);
  margin: 0 0.625rem;
  padding: 0.3125rem;
  border-radius: 0.625rem;
  border: 0.0625rem solid rgb(136, 132, 123);
  text-align: center;
}
header nav ul li:hover {
  border: 0.0625rem solid black;
  transition: border 100ms linear;
}
header nav ul li a.nav-link {
  color: rgb(255, 158, 1);
}

/* MAIN BANNER SECTION */
main section.banner {
  background-image: url("./../../resources/image/banner-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}
main section.banner h1 {
  color: white;
  background-color: black;
  width: 100%;
  text-align: center;
  font-size: 5rem;
  border-top: 0.0625rem solid white;
  border-bottom: 0.0625rem solid white;
  padding: 1rem;
}

@media only screen and (max-width: 500px) {
  main section.banner h1 {
    font-size: 4rem;
  }
}
footer {
  background-color: rgb(255, 158, 1);
}
footer div.footer-info-block {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 0.125rem solid rgb(0, 0, 0);
  border-bottom: 0.125rem solid rgb(0, 0, 0);
}
footer div.footer-info-block div {
  text-align: center;
  width: 0;
  flex-grow: 1;
}
footer div.footer-info-block div + div {
  border-left: 0.0625rem solid black;
}
footer div.footer-info-block div h3 {
  font-size: 2rem;
  margin: 1.25rem;
  font-weight: bold;
  text-decoration: underline;
}
footer div.footer-info-block div p {
  margin: 1.25rem 1.875rem;
  line-height: 1.5;
}
footer div.footer-info-block div p span {
  font-weight: bold;
}
footer div.footer-info-block div p a.kontakt-link:hover {
  color: rgb(6, 69, 173);
}
footer div.footer-info-block div a.icon-link {
  display: block;
  text-decoration: none;
  width: 3.125rem;
  margin: 1.25rem auto;
}
footer div.footer-info-block div a.icon-link i {
  font-size: 3.125rem;
  transition: color 300ms linear;
}
footer div.footer-info-block div a.icon-link i:hover {
  animation: iconAnimation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
footer div.footer-info-block div a.icon-link i.fa-facebook:hover {
  color: rgb(66, 103, 178);
}
footer div.footer-info-block div a.icon-link i.fa-instagram:hover {
  color: rgb(131, 58, 180);
}
footer div.footer-copyright-block {
  padding: 1rem 0;
  background-color: rgb(255, 89, 0);
}
footer div.footer-copyright-block p {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}

@keyframes iconAnimation {
  50% {
    transform: scale(1.5);
  }
}
@media only screen and (max-width: 722px) {
  footer div.footer-info-block div {
    flex-basis: 100%;
    min-height: 205px;
  }
  footer div.footer-info-block div + div {
    border-top: 1px solid black;
    border-left-width: 0rem;
  }
}
main section.menu-block {
  margin-top: 5rem;
  margin-bottom: 3.125rem;
}
main section.menu-block div.banner-menu {
  width: 100%;
  height: 31.25rem;
  display: flex;
  align-items: top;
  justify-content: center;
}
main section.menu-block div.banner-menu div {
  padding: 3.125rem 6.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 158, 1);
}
main section.menu-block div.banner-menu div h2 {
  border-top: 0.0625rem solid black;
  border-bottom: 0.0625rem solid black;
}
main section.menu-block div.banner-menu-tydenni {
  background-image: url(./../../resources/image/menu-page/tydenni-menu-banner.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
main section.menu-block div.banner-menu-poledni {
  background-image: url(./../../resources/image/menu-page/poledni-menu-banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main section.menu-block div.text-menu {
  margin: 1.875rem 1.25rem 0 1.25rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
main section.menu-block div.text-menu div.text-menu-meal {
  width: 43.75rem;
  margin: 1.25rem;
  display: flex;
}
main section.menu-block div.text-menu div.text-menu-meal img {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 1.875rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: -0.75rem 0;
     object-position: -0.75rem 0;
  margin-right: 0.5rem;
  transition: transform 300ms linear, border-radius 300ms linear;
}
main section.menu-block div.text-menu div.text-menu-meal img:hover {
  transform: scale(5);
  border-radius: 0;
}
main section.menu-block div.text-menu div.text-menu-meal div {
  width: 100%;
}
main section.menu-block div.text-menu div.text-menu-meal p.text-menu-meal-main {
  width: 100%;
  padding-bottom: 0.25rem;
  border-bottom: 0.125rem dotted rgb(54, 42, 42);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
main section.menu-block div.text-menu div.text-menu-meal p.text-menu-meal-main span.palive {
  vertical-align: super;
  background-color: goldenrod;
  color: white;
  font-size: 1rem;
  padding: 0.0625rem 0.375rem 0.0625rem 0.1875rem;
  font-style: italic;
}
main section.menu-block div.text-menu div.text-menu-meal p.text-menu-meal-main span.cena {
  color: goldenrod;
  flex-shrink: 0;
}
main section.menu-block div.text-menu div.text-menu-meal p.text-menu-meal-info {
  font-size: 1rem;
  font-style: italic;
  color: gray;
  padding-top: 0.3125rem;
}

@media only screen and (max-width: 720px) {
  main section.menu-block div.banner-menu div {
    background-color: transparent;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
  }
  main section.menu-block div.banner-menu div h2 {
    width: 100%;
  }
}
@media only screen and (max-width: 590px) {
  main section.menu-block div.text-menu div.text-menu-meal p.text-menu-meal-main span.palive {
    vertical-align: baseline;
  }
}
main section.images-section {
  margin: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
main section.images-section figure {
  margin: 1rem;
}
main section.images-section figure div {
  border: 0.625rem outset gold;
  overflow: hidden;
  width: 28vw;
  height: 17vw;
}
main section.images-section figure div img {
  width: 28vw;
  height: 17vw;
  -o-object-fit: cover;
     object-fit: cover;
}
main section.images-section figure div img:hover {
  animation-name: galerieHover;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
main section.images-section figure figcaption {
  margin-top: 0.3rem;
  font-size: 1.2rem;
  font-style: italic;
  text-align: center;
}

@keyframes galerieHover {
  100% {
    transform: scale(1.5);
  }
}
@media only screen and (max-width: 1313px) {
  main section.images-section figure div {
    width: 40vw;
    height: 27vw;
  }
  main section.images-section figure div img {
    width: 40vw;
    height: 27vw;
  }
}
@media only screen and (max-width: 900px) {
  main section.images-section figure div {
    width: 80vw;
    height: 54vw;
  }
  main section.images-section figure div img {
    width: 80vw;
    height: 54vw;
  }
}
@media only screen and (max-width: 500px) {
  main section.images-section figure div {
    width: 95vw;
    height: 65vw;
  }
  main section.images-section figure div img {
    width: 95vw;
    height: 65vw;
  }
}/*# sourceMappingURL=main.css.map */