/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: black;
  text-decoration: none;
}

html {
  font-size: 16px;
}

@media only screen and (min-width: 1921px) {
  html {
    font-size: 0.9vw;
  }
}
@media only screen and (max-width: 1540px) {
  html {
    font-size: 12px;
  }
}
body {
  background-color: bisque;
  font-family: "Inter", sans-serif;
  margin: 0 auto;
  color: black;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
  font-weight: bold;
  text-decoration: underline;
}

h4 {
  font-size: 1.5rem;
  font-weight: bold;
}

p {
  font-size: 1.5rem;
}

.text-bold {
  font-weight: bold;
}

.margin-separation {
  margin: 3rem;
}

.section-header__supertext {
  text-align: center;
  margin-bottom: 0.5rem;
  color: rgba(255, 89, 0, 0.8);
  font-style: italic;
  font-size: 1.3rem;
}
.section-header__title {
  background-color: transparent;
  border-top: 0.125rem solid black;
  border-bottom: 0.125rem solid black;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  margin: 0 auto;
  padding: 0.8rem;
}

header {
  background: linear-gradient(rgb(255, 158, 1), rgb(255, 89, 0));
  position: fixed;
  z-index: 100;
  width: 100%;
  box-shadow: 0 0.0625rem 0.3125rem black;
}
header nav a.navbar-brand {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
}
header nav a.navbar-brand .nav__logo {
  margin: 0 0.625rem;
  width: 3.75rem;
  height: 3.75rem;
}
header nav ul.navbar-nav {
  margin-left: auto;
  margin-right: 0.625rem;
}
header nav ul.navbar-nav li.nav-item {
  font-size: 1.5rem;
  margin: 0 0.625rem;
  padding: 0.3125rem;
  border-radius: 0.625rem;
  text-align: center;
}

/* MAIN BANNER SECTION */
.banner {
  background-image: url("./../../resources/image/banner-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}
.banner__heading {
  color: white;
  background-color: black;
  width: 100%;
  text-align: center;
  border-top: 0.0625rem solid white;
  border-bottom: 0.0625rem solid white;
  padding: 1rem;
}

.footer-info {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(255, 158, 1);
  border-top: 0.125rem solid rgb(0, 0, 0);
  border-bottom: 0.125rem solid rgb(0, 0, 0);
}
.footer-info__item {
  text-align: center;
  width: 0;
  flex-grow: 1;
}
.footer-info__item + .footer-info__item {
  border-left: 0.0625rem solid black;
}
.footer-info__heading {
  margin: 1.25rem;
}
.footer-info__text {
  margin: 1.25rem 1.875rem;
  line-height: 1.5;
}
.footer-info__link:hover {
  color: rgb(21, 54, 78);
}
.footer-info__link--icon {
  display: block;
  text-decoration: none;
  width: 3.125rem;
  margin: 1.25rem auto;
}
.footer-info__icon {
  font-size: 3.125rem;
  transition: color 300ms linear;
}
.footer-info__icon:hover {
  animation: iconAnimation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.footer-info__icon--fb:hover {
  color: rgb(66, 103, 178);
}
.footer-info__icon--ig:hover {
  color: rgb(131, 58, 180);
}

.footer-copyright {
  padding: 1rem 0;
  background-color: rgb(255, 89, 0);
}
.footer-copyright__text {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}
.footer-copyright__link {
  font-weight: bold;
}
.footer-copyright__link:hover {
  color: rgb(21, 54, 78);
  animation-name: linkAnimation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes iconAnimation {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes linkAnimation {
  50% {
    color: rgb(23, 99, 205);
  }
}
@media only screen and (max-width: 722px) {
  .footer-info__item {
    flex-basis: 100%;
    min-height: 205px;
  }
  .footer-info__item + .footer-info__item {
    border-top: 1px solid black;
    border-left-width: 0rem;
  }
}
.form {
  margin: 1rem 10vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.form__item {
  margin: 1rem 3rem;
}
.form__label {
  display: block;
  padding-bottom: 0.5rem;
}
.form__input {
  width: 18.75rem;
  padding: 1rem;
  border-radius: 1rem;
  border: 0.125rem solid rgba(55, 52, 52, 0.5);
  font-size: 1.3rem;
}
.form__input--textarea {
  width: 68rem;
}
.form__input--button {
  width: 12.5rem;
  box-sizing: border-box;
  font-weight: bold;
  transition: background-color 100ms linear, color 100ms linear;
}
.form__input--button:hover {
  border: 0.125rem solid black;
  cursor: pointer;
  color: white;
}
.form__input--reset-button:hover {
  background-color: darkgreen;
}
.form__input--submit-button:hover {
  background-color: darkred;
}

/* FORM - MEDIA QUERIES */
@media only screen and (max-width: 1630px) {
  .form {
    margin: 1rem 7vw;
  }
}
@media only screen and (max-width: 1540px) {
  .form {
    margin: 1rem 12vw;
  }
}
@media only screen and (max-width: 1290px) {
  .form {
    margin: 1rem 10vw;
  }
}
@media only screen and (max-width: 1225px) {
  .form {
    margin: 1rem 7vw;
  }
}
@media only screen and (max-width: 1140px) {
  .form-section {
    margin: 3rem 3rem;
  }
  .form-section .form {
    margin: 1rem;
  }
}
@media only screen and (max-width: 932px) {
  .form {
    margin: 1rem 7vw;
  }
}
@media only screen and (max-width: 711px) {
  .form {
    margin: 1rem 2rem;
  }
  .form__input {
    width: 70vw;
  }
  .form__input--button {
    width: 35vw;
  }
}
@media only screen and (max-width: 500px) {
  .form__input--button {
    width: 12.5rem;
  }
}
/* RESERVATION FORM - MEDIA QUERIES */
@media only screen and (max-width: 1004px) and (min-width: 929px) {
  .form-section--reservation {
    margin-left: 0;
    margin-right: 0;
  }
  .form-section--reservation .form--reservation {
    margin-left: 0;
    margin-right: 0;
  }
}
/* KONTAKT FORM - MEDIA QUERIES */
@media only screen and (max-width: 1003px) and (min-width: 712px) {
  .form--kontakt .form__item {
    margin: 1rem 7rem;
  }
  .form--kontakt .form__item--button {
    margin: 1rem 3rem;
  }
  .form--kontakt .form__input {
    width: 43.25rem;
  }
  .form--kontakt .form__input--button {
    width: 12.5rem;
  }
}
.menu {
  margin-top: 5rem;
  margin-bottom: 3.125rem;
}
.menu__title-first-wrapper {
  width: 100%;
  height: 31.25rem;
  display: flex;
  justify-content: center;
}
.menu__title-first-wrapper--tydenni {
  background-image: url(./../../resources/image/menu-page/tydenni-menu-banner.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.menu__title-first-wrapper--poledni {
  background-image: url(./../../resources/image/menu-page/poledni-menu-banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.menu__title-second-wrapper {
  padding: 3.125rem 6.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 158, 1);
}
.menu__title {
  text-align: center;
  padding: 1rem;
  background-color: rgb(255, 158, 1);
  line-height: 1.3;
  border-top: 0.0625rem solid black;
  border-bottom: 0.0625rem solid black;
}
.menu__meals {
  margin: 1.875rem 1.25rem 0 1.25rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.menu__meal {
  width: 43.75rem;
  margin: 1.25rem;
  display: flex;
}
.menu__text {
  width: 100%;
  padding-bottom: 0.25rem;
  border-bottom: 0.125rem dotted rgb(54, 42, 42);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.menu__img {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 1.875rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: -0.75rem 0;
     object-position: -0.75rem 0;
  margin-right: 0.5rem;
  transition: transform 300ms linear, border-radius 300ms linear;
}
.menu__img:hover {
  transform: scale(5);
  border-radius: 0;
}
.menu__text-wrapper {
  width: 100%;
}
.menu__palive {
  vertical-align: super;
  background-color: goldenrod;
  color: white;
  font-size: 1rem;
  padding: 0.0625rem 0.375rem 0.0625rem 0.1875rem;
  font-style: italic;
}
.menu__cena {
  color: goldenrod;
  flex-shrink: 0;
}
.menu__info {
  font-size: 1rem;
  font-style: italic;
  color: gray;
  padding-top: 0.3125rem;
}

@media only screen and (max-width: 720px) {
  .menu__title-second-wrapper {
    background-color: transparent;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
  }
  .menu__title {
    width: 100%;
  }
}
@media only screen and (max-width: 590px) {
  .menu__palive {
    vertical-align: baseline;
  }
}
/* Kde sidlime section code is found in _kontakt.scss file */
/* Form section code is found in _forms.scss file */
@media only screen and (max-width: 500px) {
  h2 {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 400px) {
  h2 {
    font-size: 2rem;
  }
}
.media {
  margin: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.media__item {
  margin: 1rem;
}
.media__img-wrapper {
  border: 0.3rem outset rgb(255, 158, 1);
  overflow: hidden;
  width: 28vw;
  height: 17vw;
  box-shadow: 0 0 5px rgb(122, 84, 7);
}
.media__img {
  width: 28vw;
  height: 17vw;
  -o-object-fit: cover;
     object-fit: cover;
}
.media__img:hover {
  animation-name: imgHover;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.media__caption {
  margin-top: 0.3rem;
  font-size: 1.2rem;
  font-style: italic;
  text-align: center;
}

@keyframes imgHover {
  100% {
    transform: scale(1.5);
  }
}
@media only screen and (max-width: 1313px) {
  .media__img-wrapper {
    width: 40vw;
    height: 27vw;
  }
  .media__img {
    width: 40vw;
    height: 27vw;
  }
}
@media only screen and (max-width: 900px) {
  .media__img-wrapper {
    width: 80vw;
    height: 54vw;
  }
  .media__img {
    width: 80vw;
    height: 54vw;
  }
}
@media only screen and (max-width: 500px) {
  .media__img-wrapper {
    width: 90vw;
    height: 65vw;
  }
  .media__img {
    width: 90vw;
    height: 65vw;
  }
}
/* Form code is found in _forms.scss file */
.kontakt-boxes {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.kontakt-boxes__item {
  background-color: rgb(255, 218, 149);
  border: 0.125rem solid rgb(173, 111, 17);
  box-shadow: 0 0 0.4375rem rgb(156, 130, 13);
  padding: 0.5rem;
  margin: 1rem;
  width: 18.75rem;
  height: 14.375rem;
  box-sizing: border-box;
  position: relative;
}
.kontakt-boxes__item-inner {
  border: 0.125rem dotted rgb(173, 111, 17);
  padding: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.kontakt-boxes__i {
  font-size: 1.5rem;
  color: white;
  position: absolute;
  top: 0;
  padding: 1rem 1.8rem;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  background-color: rgb(255, 158, 1);
  align-self: center;
}
.kontakt-boxes__title {
  margin: 1rem;
}
.kontakt-boxes__text {
  font-size: 1.2rem;
  line-height: 1.5;
  color: rgb(36, 36, 36);
}
.kontakt-boxes__link {
  color: inherit;
  text-decoration: none;
}
.kontakt-boxes__link:hover {
  color: rgb(154, 105, 0);
}

.map__title {
  margin-bottom: 2rem;
}
.map__iframe {
  width: 100% !important;
  height: 80vh !important;
  transform: translateY(2px);
  filter: grayscale(90%) invert(92%) contrast(90%);
}

@media only screen and (min-width: 836px) and (max-width: 1084px) {
  .kontakt-boxes__item {
    margin: 2rem 5vw;
  }
}/*# sourceMappingURL=main.css.map */