// This is the single file output by SCSS. It is intended to ONLY @import other files.

// 1 - HELPERS
@import "1-helpers/variables";
@import "1-helpers/mixins";
@import "1-helpers/placeholders";

// 2 - BASICS
@import "2-basics/reset";
@import "2-basics/typography";
@import "2-basics/buttons";
@import "2-basics/carousel";

// 3 - LAYOUT
@import "3-layout/header";
@import "3-layout/footer";

// 4 - PAGES
@import "4-pages/home";