/* MAIN BANNER SECTION */
.banner {
  background-image: url("./../../resources/images/banner-img.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;

  &__title {
    color: white;
    background-color: black;
    width: 100%;
    text-align: center;
    border-top: 0.0625rem solid white;
    border-bottom: 0.0625rem solid white;
    padding: 1rem;
  }
}
