html {
  font-size: 16px;
}
@media only screen and (max-width: 1540px) {
  html {
    font-size: 12px;
  }
}
body {
  background-color: bisque;
  font-family: "Inter", sans-serif;
  max-width: 1920px;
  margin: 0 auto;
  color: black;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
  font-weight: bold;
  text-decoration: underline;
}
h4 {
  font-size: 1.5rem;
  font-weight: bold;
}
p {
  font-size: 1.5rem;
}
main section.margin-separation {
  margin: 3rem;
}
// MAIN H2 Setting
h2.first-h2 {
  text-align: center;
  padding: 1rem;
  background-color: rgb(255, 158, 1);
  line-height: 1.3;
  border-top: 0.0625rem solid black;
  border-bottom: 0.0625rem solid black;
}
// SECOND P and H2 Settings - for rezervation and contact pages section headings
p.second-p {
  text-align: center;
  margin-bottom: 0.5rem;
  color: rgba(255, 89, 0, 0.8);
  font-style: italic;
  font-size: 1.3rem;
}
h2.second-h2 {
  background-color: transparent;
  border-top: 0.125rem solid black;
  border-bottom: 0.125rem solid black;
  width: fit-content;
  text-align: center;
  margin: 0 auto;
  padding: 0.8rem;
}
