html {
  font-size: 16px;
}
@media only screen and (min-width: 1921px) {
  html {
    font-size: 0.9vw;
  }
}
@media only screen and (max-width: 1540px) {
  html {
    font-size: 12px;
  }
}
body {
  background-color: bisque;
  font-family: "Inter", sans-serif;
  margin: 0 auto;
  color: black;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
  font-weight: bold;
  text-decoration: underline;
}
h4 {
  font-size: 1.5rem;
  font-weight: bold;
}
p {
  font-size: 1.5rem;
}
.text-bold {
  font-weight: bold;
}
.margin-separation {
  margin: 3rem;
}
// SECTION HEADER
.section-header {
  &__supertext {
    text-align: center;
    margin-bottom: 0.5rem;
    color: rgba(255, 89, 0, 0.8);
    font-style: italic;
    font-size: 1.3rem;
  }
  &__title {
    background-color: transparent;
    border-top: 0.125rem solid black;
    border-bottom: 0.125rem solid black;
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    padding: 0.8rem;
  }
}
