footer {
    background-color: rgb(255, 158, 1);
    div.footer-info-block {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        border-top: 0.125rem solid rgb(0, 0, 0);
        border-bottom: 0.125rem solid rgb(0, 0, 0);
        div {
            text-align: center;
            width: 0;
            flex-grow: 1;
            &+div {
                border-left: 0.0625rem solid black;
            }
            h3 {
                font-size: 2rem;
                margin: 1.25rem;
                font-weight: bold;
                text-decoration: underline;
            }
            p {
                margin: 1.25rem 1.875rem;
                line-height: 1.5;
                span {
                    font-weight: bold;
                }
                a.kontakt-link {
                    &:hover {
                        color: rgb(6,69,173);
                    }
                }
            }
            a.icon-link {
                display: block;
                text-decoration: none;
                width: 3.125rem;
                margin: 1.25rem auto;
                i {
                    font-size: 3.125rem;
                    transition: color 300ms linear;
                    &:hover {
                        animation: iconAnimation;
                        animation-duration: 2s;
                        animation-iteration-count: infinite;
                    }
                }
                i.fa-facebook:hover {
                    color: rgb(66, 103, 178);
                }
                i.fa-instagram:hover {
                    color: rgb(131, 58, 180);
                }
            }
        }
    }
    div.footer-copyright-block {
        padding: 1rem 0;
        background-color: rgb(255, 89, 0);
        p {
            font-size: 1rem;
            text-align: center;
            margin-bottom: 1rem;
        }
    } 
}
@keyframes iconAnimation{
    50%{transform: scale(1.5);}
}
@media only screen and (max-width: 720px) {
    footer div.footer-info-block div {
        flex-basis: 100%;
        min-height: 205px;
        &+div {
            border-top: 1px solid black;
            border-left-width: 0rem;
        }
    }
}