.form {
  margin: 1rem 3rem;

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__item {
    margin: 1rem 2rem;
    width: 25%;
  }
  &__item--textarea {
    width: 75%;
    margin: 1rem 6rem;
  }
  &__item--button {
    display: flex;
    justify-content: center;
  }
  &__label {
    display: block;
    padding-bottom: 0.5rem;
  }
  &__input {
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    border: 0.125rem solid rgba(55, 52, 52, 0.5);
    font-size: 1.3rem;
  }
  &__input--textarea {
    width: 100%;
  }
  &__input--button {
    flex-shrink: 0;
    width: 12.5rem;
    box-sizing: border-box;
    font-weight: bold;
    transition: background-color 150ms ease, color 150ms ease;
    &:hover {
      border: 0.125rem solid black;
      cursor: pointer;
      color: white;
    }
  }
  &__input--reset-button:hover {
    background-color: darkred;
  }
  &__input--submit-button:hover {
    background-color: darkgreen;
  }
}
/* FORM MEDIA QUERIES */
@media only screen and (max-width: 1000px) {
  .form {
    &__item {
      width: 40%;
    }
    &__item--textarea {
      width: 100%;
    }
  }
}
@media only screen and (max-width: 750px) {
  .form {
    margin: 1rem 0;

    &__item {
      width: 80%;
      margin: 1rem 2rem;
    }
  }
}
@media only screen and (max-width: 600px) {
  .form {
    &__item {
      margin: 1rem 0;
      width: 100%;
    }
  }
}
