.form {
  margin: 1rem 10vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  &__item {
    margin: 1rem 3rem;
  }
  &__label {
    display: block;
    padding-bottom: 0.5rem;
  }
  &__input {
    width: 18.75rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 0.125rem solid rgba(55, 52, 52, 0.5);
    font-size: 1.3rem;
  }
  &__input--textarea {
    width: 68rem;
  }
  &__input--button {
    width: 12.5rem;
    box-sizing: border-box;
    font-weight: bold;
    transition: background-color 100ms linear, color 100ms linear;
    &:hover {
      border: 0.125rem solid black;
      cursor: pointer;
      color: white;
    }
  }
  &__input--reset-button:hover {
    background-color: darkgreen;
  }
  &__input--submit-button:hover {
    background-color: darkred;
  }
}
/* FORM - MEDIA QUERIES */
@media only screen and (max-width: 1630px) {
  .form {
    margin: 1rem 7vw;
  }
}
@media only screen and (max-width: 1540px) {
  .form {
    margin: 1rem 12vw;
  }
}
@media only screen and (max-width: 1290px) {
  .form {
    margin: 1rem 10vw;
  }
}
@media only screen and (max-width: 1225px) {
  .form {
    margin: 1rem 7vw;
  }
}
@media only screen and (max-width: 1140px) {
  .form-section {
    margin: 3rem 3rem;
    .form {
      margin: 1rem;
    }
  }
}
@media only screen and (max-width: 932px) {
  .form {
    margin: 1rem 7vw;
  }
}
@media only screen and (max-width: 711px) {
  .form {
    margin: 1rem 2rem;
    &__input {
      width: 70vw;
    }
    &__input--button {
      width: 35vw;
    }
  }
}
@media only screen and (max-width: 500px) {
  .form {
    &__input--button {
      width: 12.5rem;
    }
  }
}
/* RESERVATION FORM - MEDIA QUERIES */
@media only screen and (max-width: 1004px) and (min-width: 929px) {
  .form-section--reservation {
    margin-left: 0;
    margin-right: 0;
    .form--reservation {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
/* KONTAKT FORM - MEDIA QUERIES */
@media only screen and (max-width: 1003px) and (min-width: 712px) {
  .form--kontakt {
    .form__item {
      margin: 1rem 7rem;
    }
    .form__item--button {
      margin: 1rem 3rem;
    }
    .form__input {
      width: 43.25rem;
    }
    .form__input--button {
      width: 12.5rem;
    }
  }
}
