header {
    background: linear-gradient(rgb(255, 158, 1), rgb(255, 89, 0));
    position: fixed;
    z-index: 100;
    width: 100%;
    box-shadow: 0 1px 5px black;
    nav {
        a.navbar-brand {
            display: flex;
            align-items: center;
            font-size: 2rem;
            font-weight: bold;
            img {
                margin: 0 10px;
            }
        }
        ul {
            margin-left: auto;
            margin-right: 10px;
            li {
                font-size: 1.5rem;
                background-color: rgb(255, 204, 73);
                margin: 0 10px;
                padding: 5px;
                border-radius: 10px;
                border: 1px solid rgb(136, 132, 123);
                text-align: center;
                &:hover {
                    border: 1px solid black;
                    transition: border 100ms linear;
                }
                a.nav-link {
                    color:rgb(255, 158, 1);
                }
            }
        }
    } 
} 