header {
    background: linear-gradient(rgb(255, 158, 1), rgb(255, 89, 0));
    position: fixed;
    z-index: 100;
    width: 100%;
    nav {
        a.navbar-brand {
            display: flex;
            align-items: center;
            font-size: 2rem;
            img {
                margin: 0 10px;
            }
        }
        ul {
            margin-left: auto;
            margin-right: 10px;
            li {
                font-size: 1.5rem;
                background-color: rgb(255, 247, 0);
                margin: 0 10px;
                padding: 5px;
                border-radius: 10px;
                &:hover {
                    background-color: aqua;
                }
                a.nav-link {
                    color:rgb(255, 158, 1);
                }
            }
        }
    } 
} 